<!-- ***** Welcome Area Start ***** -->
<section class="welcome_slides_area clearfix" id="home">
    <!-- Welcome Slides -->
    <div class="welcome_slides owl-carousel">
        <div class="welcome_area bg-overlay1by2 height-800" style="background-image: url(img/bg-img/welcome.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Wellcome Heading Text -->
                        <div class="welcome-text account">
                            <h2>Bienvenido al Portal de Colonos de <br>Paseos del Bosque</h2>
                            <p>Estamos renovando nuestra infraestructura</p>
                            <p>Por favor inicia tu registo como vecino</p>
                            <a href="#" class="blink-btn mt-15">Registrar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- ***** Welcome Area End ***** -->